/******************************************
/* SETUP
/*******************************************/

/* Box Model */
* {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    color: #000;
    font-size: 26px;
    line-height: 1.4;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}


/******************************************
/* LAYOUT
/*******************************************/

#L9{
  /*height: 700px;
  background: url(../images/header_bg.jpg) no-repeat top center rgb(0, 18, 71);
  padding-top: 32px;
  background-size: cover;*/
  background-color: rgb(0, 26, 54);
  background-size: cover;

}

header.nav1{
  height: 700px;
  background: url(../images/header_bg.jpg) no-repeat top center;
  padding-top: 32px;
  background-size: cover;
  width: 1200px;
  margin: 0 auto;
  padding: 50px ;
  /*background-color:  rgb(0, 46, 71);
  background-size: cover;*/
}

#L1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
  padding-left: 70px;

}

header h2 {
  font-size: 48px;
  text-align: center;
  color: white;
  margin: 120px 0 90px;
  font-weight: 600;
}
#L2 {
  border-radius: 5px;
  font-weight: bold;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  background: yellow;
  color: rgb(0, 18, 71);
}

section.nav3{
  padding: 99px 200px 99px 190px;
  font-family:Lucida Sans Unicode;
}

h3{
  color: rgb(0, 26, 54);
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}

.nav3 ul {

  margin: 30px 0 0 80px;
}

.nav3 p,ul {

  width: 700px;
  color: #606161;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;

}

#L10{
background: url(../images/testimonial_bg.jpg) no-repeat top center #071324;
color: white;

}

.nav5{
  width: 960px;
  margin: 0 auto;


}

blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 600px;
  margin: 0 auto;
  padding: 70px 10px 29px 10px;




}

blockquote span {
  font-weight: 600;
  display: block;
  font-style: normal;
}

#L11{
background: yellow;
padding: 30px;
text-align: center;
}
.buttunsing{

  border-radius: 5px;
  font-weight: 780;
  padding: 12px ;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: white;
  background-color: rgb(0, 46, 71);
  text-decoration: none;
}
footer {
  background: rgb(0, 0, 20);
  /*padding: 65px 0 100px 0;*/
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;

}

footer img{

  width: auto;
  height: auto;
  margin: 0 26px 75px;
  padding-top: 50px;
}


footer h4{
  font-size: 48px;
  font-weight: bold;
  color: yellow;


}

footer p {
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
