/******************************************
/* SETUP
/*******************************************/

/* Box Model */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    color: #000;
    font-size: 12px;
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* header
/*******************************************/

header {
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
  width: 100%;
  height: 500px;
}
.toplogo {
  font-weight: extra bold;
  font-size: 24px;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}

.toppar {
  font-weight: Semibold;
  font-size: 24px;
  color: white;
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.topbutton button {
  background-color: #f9e42e;
  color: #2F4F4F;
  font-weight: extra bold;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
  left: 45%;
  bottom: -100px;
  padding: 8px 50px 8px 50px;
}



/******************************************
/* main "Benefits"
/*******************************************/
main {
  background-color: #fdfdf8;

}
.topbenefits {
  font-weight: Semibold;
  font-size: 20px;
  padding-left: 80px;
  padding-top: 20px;
}
.pbenefits{
  font-size: 13px;
  padding-left: 80px;
  font-weight: lighter;
  padding-top: 10px;
}
.list ul{
  font-size: 13px;
  list-style: disc;
  margin: 25px 0 0 100px;
  font-weight: lighter;
  padding: 5px 0 20px 20px;
}

.list li{
  padding: 10px;
}

/******************************************
/* main "section"
/*******************************************/
section {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.topbackground{
  background: url(../images/testimonial_bg.jpg);
  height: 200px;
  width: 100%;
}
.topbackground span {
  color: white;
  font-weight: lighter;
  font-style: italic;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  width: 350px;

  font-weight: bold;

}

.topbackground p {
  color: white;
  font-weight: lighter;
  font-size: 18px;
  text-align: center;
  width: 350px;

  font-style: italic;
}
.yellowline{
  background-color: #f9e42e;
  height: 100px;
}

.yellowline button {
  background-color: #2F4F4F;
  color: white;
  font-weight: extra bold;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;

  padding: 8px 50px 8px 50px;
}

.Relaxr h1 {
  color: #f9e42e;
  background-color: #282828;

  font-weight: lighter;
  font-weight: bold;
  padding-top: 30px;
  font-size: 24px
}

.Relaxr {
  background-color: #282828;
  height: 100px;
}
.logs {
  background-color: #282828;

  height: 100px;
}

.logs ul {
}
  .logs li {
display: inline-block;
padding: 10px;
  }

.footer {
  background-color: #282828;
  color: white;

  font-weight: lighter;
  height: 100px;
}
